html,
body {
    margin: 0;
    padding: 0;
}

img {
    width: 100vw;
    height: 100vh;
}

.slideshow {
    opacity: 0.5;
}

.heading {
    position: absolute;
    z-index: 9999;
    width: 100vw;
    height: calc(100vh - 30%);
    top: 30%;
    text-align: center;
}

.heading-lg h1 {
    font-size: 200px;
}

.heading-md h1 {
    font-size: 160px;
}

.heading-sm h1 {
    font-size: 120px;
}