@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: calc(100vh + 56px);
    z-index: -9999;
}

.slideshow {
    opacity: 0.5;
}

.heading {
    position: absolute;
    z-index: 9998;
    width: 100vw;
    height: calc(100vh - 30%);
    top: 30%;
    text-align: center;
}

.heading-lg h1 {
    font-size: 200px;
}

.heading-md h1 {
    font-size: 160px;
}

.heading-sm h1 {
    font-size: 120px;
}

.navbar {
    z-index: 9999;
}

.nav-link {
    border-bottom: 3px solid transparent;
}

.dropdown-toggle {
    border-bottom: 3px solid transparent;
}

.dropdown-toggle::after {
    border: none;
    margin-left: 0;
    vertical-align: 0;
}

.nav-link::after {
    display: block;
    content: "";
    transform: scaleX(0);
    border-bottom: 3px solid #000;
    transition: transform 300ms ease-in-out 0s;
    margin-top: -10.8px;
    position: relative;
    top: 12px;
}

.nav-link:hover::after {
    transform: scaleX(1);
}

.dropdown-caret {
    font-size: 12px;
}

.content2 { 
    position: absolute;
    top: calc(100vh + 56px);
    height: calc(100vh - 56px);
    width: 100vw;
}

.card {
    height: 50%!important;
}

.btn {
    font-size: 1.5rem;
}